@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

html {
    font-family: "Crimson Text", "Hoefler Text", Georgia, "Times New Roman", serif;
    padding: 1em;
    font-size: 90%;
}

body {
    background-color: antiquewhite;
    max-width: 50em;
    margin: auto;
}

h1 {
    font-size: 100%;
    font-weight: bold;
}

h2 {
    font-size: 95%;
}

ul li {
    padding: 0 1em 1em 1em;
}

ul li p {
    padding: 0 0.75em 0 0.75em;
}

form {
    padding-bottom: 2em;
}

form li {
    padding: 0.5em 0 0 0.75em;
}

form li p {
  font-weight: bold;
  padding-bottom: 0.25em;
}

form input {
    display: block;
    max-width: 80%;
}

@media screen and (min-width: 200px) {
    html {
        font-size: 100%;
    }
    h1 {
        font-size: 120%;
    }
    h2 {
        font-size: 110%;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 110%;
    }
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 125%;
    }
}
